*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:raleway;
}
:root {
    --primary-color: #1A2C79;
    --secondary-color: #f85a40;
    --white-color:#ffffff;
    --font-color: #707070;
    --back-color:#000000;
    --shadow-color:rgba(10, 16, 34, .2);
    --bg-light: #fafafa;
}
.background{
    height: 100vh;
    background-image: url(img/banner1.jpg);
    background-size:cover;
    background-repeat: no-repeat;
    display: flex;
    position: relative;
    background-position: center;
}
.background::before{
    content: "";
    position: absolute;
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
    background: linear-gradient(75deg, rgb(6 6 6 / 64%) 8%, transparent);
}
.header{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
}
.logo a{
    font-size: 2rem;
    font-weight: 600;
    color: var(--white-color);
    text-decoration: none;
    transition: all ease .3s;
}
.logo a:hover{
    color: var(--secondary-color);
}
.logo i{
    margin-right: 5px;
} 
.nav-item{
    padding-left:10px ;
    padding-right:10px ;
}
.link-main{
    display: inline;
    padding-left:8px;
    padding-right:8px;
    font-size: 1rem;
    font-weight: 600;
    text-transform: uppercase;
    color: var(--white-color);
}
.link-main:hover{
    color: var(--white-color);
    border-bottom: 1px solid var(--white-color);
    transition:linear .3s;
}
.search-form{
    width: 227px;
    height: 40px;
    background-color: var(--white-color);
    border-radius: 30px;
    display: flex;
    justify-content: center;
    align-items:center;
    overflow: hidden;
}
.search-form input{
    outline: none;
    padding-left: 8px;
    border: unset;
}
.search-form button{
    padding: 8px;
    border: unset;
    background-color: var(--white-color);
    color: var(--secondary-color);
}
.search-form button:hover{
    color: var(--primary-color);
    transition: ease .3s;
}
.control{
    color: var(--white-color);
    font-size: 1.4rem;
    padding: 15px;
}
.control:hover{
    color: var(--secondary-color);
    transition: ease .3s;
}
.title-banner{
    font-weight: 300;
    font-size: 3.1rem;
}
.banner-text{
    font-size: 1.3rem;
    font-weight: 300;
}
.banner-button{
    margin-top: 50px;
}
.btn--white{
    background-color: var(--white-color);
    color: var(--primary-color);
    border: 1px solid var(--white-color);
}
.btn--white:hover{
    background-color: transparent;
    color: var(--white-color);
    transition: ease .3s;
}
.btn--border{
    border: 1px solid var(--white-color);
    color: var(--white-color);
}
.btn--border:hover{
    background-color: var(--white-color);
    color: var(--primary-color);
    transition: ease .3s;
}
.about-img{
    width: 100%;
    height: 100%;
}
.about-text--top h2{
    font-size: 2.2rem;
    margin-bottom:12px ;
    font-weight: 600;
    
}
.about-text--top p{
    font-size: 1.2rem;
    color: var(--font-color);
}
.about-icon{
    font-size: 2.2rem;
    color: var(--secondary-color);
}
.text-about{
    color: var(--font-color);
}
.information{
    background-color: var(--bg-light);
}
.title-information{
    font-size: 2.2rem;
    font-weight: 600;
}
.text-information{
    font-size: 1.2rem;
    color: var(--font-color);
}
.card-img-top img{
    width: 100%;
}
.info-card-title{
    color: var(--back-color);
    font-weight: 600;
}
.info-card-title:hover{
    color: var(--secondary-color);
    text-decoration: none;
    transition: ease .3s;
}
.card-text{
    color: var(--font-color);
}
.link-more{
    color: var(--secondary-color);
    text-transform: uppercase;
}
.link-more:hover{
    color: var(--secondary-color);
    text-decoration: none;
}
.information-item:hover{
    box-shadow: 0 10px 30px -5px var(--shadow-color);
}
.info h3{
    font-weight: 600;
}
.custom-heding{
    font-size: 2.2rem;
    font-weight: 600;
}
.custom-text{
    color: var(--font-color);
}
.custom-icon{
    font-size: 2rem;
    color: var(--primary-color);
}
.info span{
    color: var(--font-color);
}
.user-name{
    color: var(--primary-color);
    font-weight: 600;
}
.quote-1::before{
    font-size: 50px;
    color: var(--primary-color);
    line-height: 8px;
}
.quote-2::before{
    font-size: 50px;
    color: var(--primary-color);
    line-height: 8px;
}
.gallery{
    background-color: var(--bg-light);
}
.title-gallery h1{
    color: var(--back-color);
    font-size: 2.2rem;
    margin-bottom: 20px;
    font-weight: 600;
}
.title-gallery p{
    font-size: 1.2rem;
    color: var(--font-color);
}
.item-gallery{
    position: relative;
    overflow: hidden;
}
.item-gallery::before{
    content: "";
    position: absolute;
    left: -65%;
    width: 50%;
    height: 100%;
    background: linear-gradient(to right, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, .3) 100%);;
    transform: skewX(-17deg);
    
}
.item-gallery:hover::before{
        left: 100%;
        transition: all 1s;
}
.img-gallery{
    width: 100%;
    height: auto;
}
.dogservice i{
    font-size: 1.4rem;
    color: var(--secondary-color);
    margin-bottom: 20px;
}
.pet-bg{
    background-image: url(img/bg.jpg);
    background-position:center;
    background-attachment: fixed;
}
.pet-info h6,h1{
    color: var(--white-color);
}
.pet-info h6{
    font-weight: 500;
    font-size: 0.8rem;
}
.pet-info h1{
    font-weight: 600;
}
.btn-pet-info{
    background-color: var(--white-color);
    border: 1px solid var(--white-color);
    color: var(--primary-color);
    padding: 8px 15px;
    margin-top: 30px;
    transition: all ease .3s;
}
.btn-pet-info:hover{
    background-color: transparent;
    color: var(--white-color);
    
}
.blog-card{
    transition: all ease .3s;
}
.blog-card:hover{
    box-shadow: 0 10px 30px -5px var(--shadow-color);
}
.blog-heading h1{
    color: var(--back-color);
    font-weight: 600;
    margin-bottom: 20px;
}
.blog-heading p{
    color: var(--font-color);
    font-size: 1.2rem;
}
.blog-card-day{
    color: var(--primary-color);
    text-align: right;
    font-style: italic;
    font-weight: 600;
}
.blog-card-title{
    color: var(--back-color);
    font-size: 1.2rem;
    display: block;
    font-weight: 600;
    text-decoration: none;
}
.blog-card-title:hover{
    text-decoration: none;
    color: var(--primary-color);
}
.blog-link-more i{
    margin-left: 5px;
}
.blog-link-more{
    font-size: 0.8rem;
    color: var(--primary-color);
    text-decoration: none;
    font-weight: 600;
    transition: all ease .3s;
    text-transform: uppercase;
}
.blog-link-more:hover{
    text-decoration: none;
    color: var(--secondary-color);
}
.footer{
    background-color: var(--back-color);
}
.footer-border{
    border-bottom: 1px solid var(--font-color);
}
.footer-logo a{
    font-size: 2.2rem;
    text-decoration: none;
    color: var(--white-color);
    font-weight: 600;
}
.footer-logo i{
    color: var(--secondary-color);
    margin-right:5px;
}
.footer-logo p{
    color: #d4d4d4;
}
.nav-footer h5{
    color: var(--white-color);
    text-transform: uppercase;
    font-weight: 600;
}
.nav-footer i{
    margin-right: 5px ;
}
.nav-footer a{
    color: var(--white-color);
    transition:  all ease .3s;
}
.nav-footer a:hover{
    color: var(--secondary-color);
}
.footer-form p{
    color: #d4d4d4;
    margin-top: 20px;
}
.footer-form h5{
    color: var(--white-color);
    font-weight: 600;
    margin-bottom: 30px;
}
.footer-form button{
    width: 70px;
    background-color: var(--secondary-color);
    outline: none;
    border: none;
}
.footer-form button:hover{
    background-color:rgba(248, 90, 64,0.8);
}
.footer-info{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.footer-info p{
    margin: 0;
    color: #d4d4d4;
}
.footer-info a{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    color: var(--white-color);
    background-color: rgb(41 41 41 / 27%);
    transition: all ease .3s;
}
.footer-info a:hover{
    text-decoration: none;
    color: var(--secondary-color);
    background-color: var(--white-color);
}
@media screen and (max-width:1200px){
    .logo a{
        font-size: 1.8rem;
    }
    .link-main{
        font-size: 1rem;
    }
    .nav-item{
        padding-left:5px ;
        padding-right:5px ;
    }
}
